<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>New internship announcement</title>
    </head>
    <body>
        <div>Hello, <b th:text="${trainee.surname} + ' ' + ${trainee.name}"></b>.</div>
        <div>This email was used for registration to internship <b
                th:text="${internship.title}"></b> which starts on <b
                th:text="${#temporals.format(internship.startDate)}"></b>. </div>
        <div>Follow next link to confirm registration or ignore this email if it was not you.</div>
        <form method="POST" th:action="@{${approveUrl}}">
            <button type="submit" name="submit" value="value" class="link-button">Confirm email</button>
        </form>
    </body>
</html>